{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <title>FIFA | La casa del fútbol </title>
</head>

<body>
    <header>
        <div class="">
            <div>
                <ul class="d-flex">
                    <li><a href="#">compras entradas</a></li>
                    <li><a href="#">fifa+</a></li>
                    <li><a href="#">fifa store</a></li>
                    <li><a href="#">inside fifa</a></li>
                </ul>
            </div>
            <hr>
            <nav class="d-flex bg-primary">
                <div class="d-flex">
                    <div>
                        <i class="fa-solid fa-bars"></i>
                    </div>

                    <img src="https://digitalhub.fifa.com/transform/befe3a64-328b-453c-8b58-0faeb9103684/FIFA_Logo_White_Generic?io=transform:fill,height:64&quality=75"
                        alt="">
                    <ul class="p-0 list-unstyled d-flex">
                        <li><a href="#">torneos</a></li>
                        <li><a href="#">central de partidos</a></li>
                        <li><a href="#">noticias</a></li>
                        <li><a href="#">asociaciones miembro</a></li>
                        <li><a href="#">mira en fifa+</a></li>
                        <li><a href="#">juega</a></li>
                        <li><a href="#">tienda</a></li>
                        <li><a href="#">inside fifa</a></li>
                    </ul>
                </div>
                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-globe"></i>
                    <a href="templates/login.html"><i class="fa-solid fa-user"></i></a>
                </div>
            </nav>
        </div>

    </header>
    <script src="https://kit.fontawesome.com/365036b8b3.js" crossorigin="anonymous"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>