{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>FIFA | La casa del fútbol </title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <h1 class="text-white">Bienvenido {{user.username}}</h1>
        <div>
            <a href="{% url 'lst_jugadores_view' %}" class="btn btn-primary">Lista de jugadores</a>

            <a href="{% url 'admin:index' %}" class="btn btn-primary">Admin</a>
            <a href="{% url 'logout' %}" class="btn btn-primary">Salir</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    <script src="https://kit.fontawesome.com/365036b8b3.js" crossorigin="anonymous"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>