{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <title>FIFA | La casa del fútbol </title>
</head>

<body>
    <a href="{% url 'admin:index' %}">admin</a>
    <a href="{% url 'login_view' %}">atras</a>

    <script src="https://kit.fontawesome.com/365036b8b3.js" crossorigin="anonymous"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>