{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <title>FIFA | La casa del fútbol </title>
</head>

<body>
    <div class="d-flex">
        <div class="w-50">
            <img src="/assets/imgs/fifa-stock.webp" alt="" srcset="" class="w-100">
        </div>
        <div class="w-50 ">
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="login_email"></label>
                    <input type="text" id="login_email" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <label for="login_password"></label>
                    <input type="password" id="login_password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesion</button>
            </form>
            <a href="">registrarse</a>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/365036b8b3.js" crossorigin="anonymous"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>