{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <title>FIFA | La casa del fútbol </title>
</head>

<body>
    <div class="d-flex h-100">
        <div class="h-100 w-50 bg-primary">
            
        </div>
        <div class="w-50 m-5">
            <h1 class="text-uppercase">{{ user.username}}</h1>
            <form action="" method="post">
                {% csrf_token %}

                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Salir</a>
                <br>
                <a href="{% url 'dashboard_view' %}">Dashboard</a>
                {% else %}
                <div class="mb-3">
                    <p class="mb-0">Iniciar sesion</p>
                    <label for="login_email"></label>
                    <input type="text" id="login_email" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <p class="mb-0">Contraseña</p>
                    <label for="login_password"></label>
                    <input type="password" id="login_password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesion</button>
                {% endif %}
            </form>
            {% if not user.is_authenticated %}
            <a href="{% url 'register_view' %}">Registrarse</a>
            {% endif %}
            <br>
            <a href="{% url 'index' %}">Atras</a>

        </div>
    </div>
    <script src="https://kit.fontawesome.com/365036b8b3.js" crossorigin="anonymous"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>