
<div style="margin: 7%;">
  <h2>Judadores</h2>
  <a href="#" class="btn btn-success">Añadir</a>
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Foto</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">posicion</th>
            <th scope="col">Equipo</th>
            <th scope="col">Numero camiseta</th>
            <th scope="col">Titular?</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {%  for jugador in jugadores %}
          <tr>
            <td>{{jugador.id_jugador}}</td>
            <td>{{jugador.nombre_jugador}}</td>
            <td>{{jugador.apellido_jugador}}</td>
            <td><img src="{{jugador.foto}}" style="max-width: 70px;" alt="" srcset=""></td>
            <td>{{jugador.fecha_nacimiento}}</td>
            <td>{{jugador.posicion}}</td>
            <td>{{jugador.equipo}}</td>
            <td>{{jugador.numero_camiseta}}</td>
            <td>{{jugador.titular}}</td>
            <td><a href="#" class="btn btn-warning">Editar</a></td>
            <td><a href="#" class="btn btn-danger">Eliminar</a></td>
            <td><a href="#" class="btn btn-primary">Detalle</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
